<div>
  <h1><%= t_exam_title(:exam_6) %></h1>
  <p><%= t_exam_content(:exam_6) %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t_(:name) %></th>
        <th><%= t_(:count) %></th>
        <th><%= t_(:users) %></th>
      </tr>
    </thead>
    <tbody>
      <!-- Just for guide you can make your own -->
      <% @games_count_users.each do |gcu| %>
        <tr>
          <td><%= gcu[0] -%></td>
          <td><%= gcu[1] -%></td>
          <td><%= gcu[2] -%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
