<div>
  <h1><%= t_exam_title(:exam_10) %></h1>
  <p><%= t_exam_content(:exam_10) %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t_(:name) %></th>
        <th><%= t_(:count) %></th>
        <th><%= t_(:users) %></th>
      </tr>
    </thead>
    <tbody>
      <!-- Just for guide you can make your own -->
      <% @games_count_users.each do |g| %>
        <tr>
          <td><%= g[0] %></td>
          <td><%= g[1] %></td>
          <td>
            <% g[2].each do |email| %>
              <% if email.in? g[3] %>
                <strong style="color:red;"><%= email %></strong>
              <% else %>
                <%= email %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
