<div>
  <h1><%= t_exam_title(:exam_4) %></h1>
  <p><%= t_exam_content(:exam_4) %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t_(:name) %></th>
        <th><%= t_(:have) %></th>
      </tr>
    </thead>
    <tbody>
      <!-- Just for guide you can make your own -->
      <%- current_user_game_ids = @current_user.games.pluck(:id) -%>

      <% @games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.id.in?(current_user_game_ids) ? 'Yes' : '' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
