<div>
  <h1><%= t_exam_title(:exam_7) %></h1>
  <p><%= t_exam_content(:exam_7) %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t_(:name) %></th>
      </tr>
    </thead>
    <tbody>
      <!-- Just for guide you can make your own -->
      <%- if @all_games_noone.blank? -%>
        <tr>
          <td>No games</td>
        <tr>
      <%- else -%>
        <% @all_games_noone.each do |g| %>
          <tr>
            <td><%= g %></td>
          </tr>
        <% end %>
      <%- end -%>
    </tbody>
  </table>
</div>
