<% if I18n.locale == :en %>
  <h1>Guide</h1>
  <ul>
    <li>About the question, maybe you can make more clear in controller</li>
    <li>Creator relation use just for 9 - 10</li>
    <li>Pick the easy exam first we care how many what you finish in 1 hour</li>
    <li>Try to make everything query not in view</li>
    <li>Avoid to use loop inside loop if you can</li>
    <li>2 -> 3, 4 -> 5 have a similar exam if you make it well you can skip the next one</li>
    <li>You can ask the question during the exam</li>
  </ul>
<% elsif I18n.locale == :th %>
  <h1>แนวทาง</h1>
  <ul>
    <li>รายละเอียดของคำถามอาจจะเข้าใจมากขึ้นเมื่อเห็น controller</li>
    <li>Creator relation ใช้เฉพาะข้อ 9 - 10</li>
    <li>เลือกทำข้อที่ง่ายการ เน้นจำนวนที่ทำภายใน 1 ชั่วโมง</li>
    <li>พยายาทำอย่าดึงข้อมูลภายใน view</li>
    <li>พยายามหลีกเลี่ยงการเรียกลูปซ้อนลูปถ้าเป็นไปได้</li>
    <li>2 -> 3, 4 -> 5 คำถามจะคล้ายกันถ้าทำข้อแรกได้ดีสามารถข้ามอีกข้อได้</li>
    <li>ระหว่างทำข้อสอบ สงสัยตรงไหนถามได้</li>
  </ul>
<% end %>

